<div class="container bg">
    <div class="result_wrapper ">
     <div class="row">			<% @vendor.each do |data| %>    
			 <div class="col-md-4">
			 	<div class="box">
			  	<div class="well"> 
			 		<ul>
			 		   <li><span><%= image_tag data.image%></li>
			 		   <li><span>VENDOR NAME:</span>&nbsp;<%= data.name %></li>
			 		   <li><span>ADDRESS:</span>&nbsp;<%= data.address %> </li>
			 		   <li><span>TEL NO:</span>&nbsp;<%= data.telno %></li>
			 		   <li><span>PRODUCTS:</span>&nbsp;<%= data.type %></li>
			 		</ul>
			 	</div>
			 		</div>
			  </div>
           <% end %>
           </div>
		</div>
	</div>

