<div class="container bg">
    <div class="result_wrapper">
			<% @vendor.each do |data| %>    
			 <div class="col-sm-3">
			 	<div class="box">
			 		<ul>
			 		   <li><span><%= image_tag data.image%></li>
			 		   <li><span>VENDOR NAME:</span>&nbsp;<%= data.name %></li>
			 		   <li><span>ADDRESS:</span>&nbsp;<%= data.address %> </li>
			 		   <li><span>TEL NO:</span>&nbsp;<%= data.telno %></li>
			 		   <li><span>PRODUCTS:</span>&nbsp;<%= data.type %></li>
			 		</ul>
			 	</div>
			  </div>
           <% end %>
			</div>
	</div>