<!DOCTYPE html>
<html>
<head>
  <title>HelpPhoto</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script>
function initialize()
    {
        var input = document.getElementById('vendor_address');
        var autocomplete = new google.maps.places.Autocomplete(
                /** @type {HTMLInputElement} */(input),
                {
                    types: ['geocode'],
                });
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            //document.getElementById('fLat').value = place.geometry.location.lat();
            //document.getElementById('fLong').value = place.geometry.location.lng();

            var address = '';
            if (place.address_components)
            {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
            LoadEventCategory();
            LoadYelpData();
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    </script>


</head>
<body>
    <div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Vendor Help', root_path, :class=>"navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
    
          <ul class="nav  navbar-nav navbar-right">
            <%if user_signed_in?%>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <%else%>
            <li><%= link_to "Login as Facebook", user_omniauth_authorize_path(:facebook) %></li>
            <li><%= link_to 'Log in', user_session_path%></li>
            <li><%= link_to 'Sign up', new_user_registration_path%></li>
          </ul>
          <% end%>
        </div><!--/.nav-collapse -->
      </div>
      Given URL is not allowed by the Application configuration: One or more of the given URLs is not allowed by the App's settings. It must match the Website URL or Canvas URL, or the domain must be a subdomain of one of the App's domains.
    </nav>
  
      
    